<div class="container">
    <p class="header-title">{{title}}</p>
    <div class="row">
        <div class="col col-md-12">
            <form>
                <div class="mb-3">
                    <label for="userName">user Name</label>
                    <input type="text" id="username" />
                </div>
                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="password" id="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>